<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="text-center">Friend of Friends</h3>
  </div>

  <table class="table">
  	<tr>
  		<th colspan="" rowspan="" headers="" scope="">Name </th>
  		<th colspan="" rowspan="" headers="" scope="">Email </th>
  	</tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><% if current_user.is_friend?(user) %>
        			<%= link_to 'Unfriend', unfriend_path(user.uuid) , class: 'btn btn-info' %>
        			<%= link_to "Friend of Friend", friend_of_friend_path(user.uuid) %>
        		<% else %>
        			<%= link_to 'Send Friend Request',send_friend_request_path(user.uuid), class: 'btn btn-primary' %>
        		<% end %> 
        </td>
        
      </tr>
    <% end %>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="text-center">Friend of Friends of Friends</h3>
  </div>

  <table class="table">
  	<tr>
  		<th colspan="" rowspan="" headers="" scope="">Name </th>
  		<th colspan="" rowspan="" headers="" scope="">Email </th>
  	</tr>
    <% @friend_of_friend.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><% if current_user.is_friend?(user) %>
        			<%= link_to 'Unfriend', unfriend_path(user.uuid) , class: 'btn btn-info' %>
        			<%= link_to "Friend of Friend", friend_of_friend_path(user.uuid) %>
        		<% else %>
        			<%= link_to 'Send Friend Request',send_friend_request_path(user.uuid), class: 'btn btn-primary' %>
        		<% end %> 
        </td>
        
      </tr>
    <% end %>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="text-center">Friend of Friends of Friends of Friends</h3>
  </div>

  <table class="table">
  	<tr>
  		<th colspan="" rowspan="" headers="" scope="">Name </th>
  		<th colspan="" rowspan="" headers="" scope="">Email </th>
  	</tr>
    <% @friend_of_friend_of_friend.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><% if current_user.is_friend?(user) %>
        			<%= link_to 'Unfriend', unfriend_path(user.uuid) , class: 'btn btn-info' %>
        			<%= link_to "Friend of Friend", friend_of_friend_path(user.uuid) %>
        		<% else %>
        			<%= link_to 'Send Friend Request',send_friend_request_path(user.uuid), class: 'btn btn-primary' %>
        		<% end %> 
        </td>
        
      </tr>
    <% end %>
  </table>
</div>