<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="text-center">Listing Users</h1>
  </div>
      
 
  <table class="table">
  	<tr>
  		<th colspan="" rowspan="" headers="" scope="">Name </th>
  		<th colspan="" rowspan="" headers="" scope="">Email </th>
  	</tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
        <% if current_user.is_friend_requested?(user) && current_user.get_friend_requested?(user) %>
          <!-- friends -->
          <%= link_to 'Unfriend', unfriend_path(user.uuid) , class: 'btn btn-info' %>
          <%= link_to "Suggested Friends", friend_of_friend_path(user.uuid) %>
        <% elsif current_user.is_friend_requested?(user) %>
          <!-- only friend request sent -->
          <%= link_to 'Friend Request Already Sent',"#", class: 'btn btn-primary' %>
          <%= link_to 'Cancel Sended Friend Request',cancel_sended_frnd_req_path(user.uuid)+"?is_accept=0", class: 'btn btn-danger' %>
        <% elsif current_user.get_friend_requested?(user)%>
          <!-- only friend request accept -->
          <%= link_to 'Accept',manage_friend_request_path(user.uuid)+"?is_accept=1", class: 'btn btn-info' %>
          <%= link_to 'Reject',manage_friend_request_path(user.uuid)+"?is_accept=0", class: 'btn btn-danger' %>
        <% else %>
          <!-- no relationship -->
          <%= link_to 'Send Friend Request',send_friend_request_path(user.uuid), class: 'btn btn-primary' %>
        <% end %>
        	
        </td>
      </tr>
    <% end %>
  </table>
</div>