<!DOCTYPE html>
<html>
<head>
  <title>Neo4j</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if alert || notice %>
      <div class="text_center">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
      
    <% if  user_signed_in? %>
    <div class="heading" style="width:100%;background-color: bisque;">
      <span class="heading_left" style="width:80%;">  
        <span style="font-size:20px;">Neo4j Demo</span>
      </span>
      <span class="heading_left" style="width:20%; float:right;">
        <%=  current_user.name %> | <%= link_to "Sign out", destroy_user_session_path,method: :delete %>
      </span>
    </div>
    <div>
      <%= link_to "Posts", posts_path %> | 
      <%= link_to "Find Friends", friends_path%>
      <%= link_to "Back", :back,:style=>"float:right;" %>

    </div>  
  <% else %> 
    <div class="heading" style="width:100%;background-color: bisque;">
      <span class="heading_left"> 
        <span style="font-size:20px;">Neo4j Demo</span>
      </span>
    </div>
  <% end %>
    
    <%= yield %>
  </div>
</body>
</html>